.top-navbar {
    justify-content: space-between;
    height: 200px;
}

.top-navbar .navbar-list .item {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #707070;
}

.top-navbar .navbar-list .item svg {
    color: rgb(45, 187, 128);
    margin-right: 10px;
}

.top-navbar .navbar-list a svg {
    color: rgb(45, 187, 128);
}

.navbar {
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.open-menu {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 160px;
}

.open-menu a {
    display: block;
    text-align: left;
}

.open-menu  a:hover {
    color: white;
}

.menu:hover .open-menu {
    display: block;
}
