.top-navbar {
    justify-content: space-between;
    height: 200px;
}

.top-navbar .navbar-list .item {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar {
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    display: flex;
    align-items: center;
}