.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.list-none {
    list-style-type: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}